{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}
{% block body %}
    <main class="container">
        <h1 class="text-primary">Bienvenue !</h1>
        <p>Vous vous trouvez sur la page d'accueil</p>
    </main>
{% endblock %}